In [13]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [14]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_excel('/content/arpit e shop.xlsx')
print(df)

       year  month  day  order  country  session ID  page 1 (main category)  \
0      2008      4    1      1       29           1                       1
1      2008      4    1      2       29           1                       1
2      2008      4    1      3       29           1                       2
3      2008      4    1      4       29           1                       2
4      2008      4    1      5       29           1                       2
...     ...    ...  ...    ...      ...         ...                     ...
50410  2008      5    3     24       29        7234                       3
50411  2008      5    3     25       29        7234                       3
50412  2008      5    3     26       29        7234                       3
50413  2008      5    3     27       29        7234                       4
50414  2008      5    3     28       29        7234                       4

      page 2 (clothing model)  colour  location  model photography  price  \
0                         A13       1         5                  1     28
1                         A16       1         6                  1     33
2                          B4      10         2                  1     52
3                         B17       6         6                  2     38
4                          B8       4         3                  2     52
...                       ...     ...       ...                ...    ...
50410                     C13       9         5                  1     48
50411                      C7      13         3                  1     48
50412                     C18       9         6                  1     48
50413                      P6       2         2                  1     43
50414                     P15       4         5                  2     38

       price 2  page
0            2     1
1            2     1
2            1     1
3            2     1
4            1     1
...        ...   ...
50410        1     1
50411        1     1
50412        1     1
50413        1     1
50414        1     1

[50415 rows x 14 columns]

In [15]:
df.head()

,year,month,day,order,country,session ID,page 1 (main category),page 2 (clothing model),colour,location,model photography,price,price 2,page
0,2008,4,1,1,29,1,1,A13,1,5,1,28,2,1
1,2008,4,1,2,29,1,1,A16,1,6,1,33,2,1
2,2008,4,1,3,29,1,2,B4,10,2,1,52,1,1
3,2008,4,1,4,29,1,2,B17,6,6,2,38,2,1
4,2008,4,1,5,29,1,2,B8,4,3,2,52,1,1

In [16]:
from sklearn import preprocessing
  
# label_encoder object knows how to understand word labels.
label_encoder = preprocessing.LabelEncoder()
  
# Encode labels in column 'species'.
df['page 2 (clothing model)']= label_encoder.fit_transform(df['page 2 (clothing model)'])
  
df['page 2 (clothing model)'].unique()

array([  4,   7,  70,  51,  74, 127, 128, 198, 215,  66,  55,  58,  61,
         1, 135, 162, 161, 109, 132,  77,  84, 209,  27,  30,  93,  89,
        82, 124,  60,   2, 120, 191, 186, 185, 177, 180, 171, 150, 119,
        57,  86, 103, 110, 121, 112,   9,   0,  43,  50,  22,  64,  65,
       142,  11,  38,  35,  53,  47,  49,  75,  54,  59,  68,  69,  87,
       102, 104, 126, 130, 192, 193,  39, 117,  67,   8,  40,  41,  42,
        12,  25,  78,  90, 138,  33,  15,  46,  44,  81,   3,  24,   6,
        73, 133,  85, 146, 136,  94, 100,  28,  29, 116, 156,  13, 194,
       158, 160, 197, 187, 172, 168,  20,  62, 141,  10,  52,  48,  72,
        21, 178,  98, 134, 105, 106, 108, 122, 123,  36,  63,  45, 190,
       143, 137,  76,  80,   5,  16, 147, 169, 181, 152, 114, 115,  56,
        23, 129, 125,  18,  26,  31,  32, 212, 145, 167, 213, 210, 208,
        34,  71, 157, 201, 140, 144, 163, 131,  79,  99, 179, 202, 164,
       216, 153, 182, 195, 165, 200,  14, 111, 139,  83, 175, 118, 214,
       166, 176, 173, 189, 196, 107,  88,  95,  96, 113, 188, 148, 204,
       205,  92, 170,  97, 203, 101,  91,  19, 206, 199, 207,  17, 154,
       151,  37, 159, 183, 174, 184, 155, 149, 211])

In [17]:
x = df[['page 1 (main category)', 'country','page 2 (clothing model)','month','price 2']]
y = df['price']

In [18]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=0)
print(x_train.shape, x_test.shape, y_train.shape, y_test.shape)

(40332, 5) (10083, 5) (40332,) (10083,)

In [19]:
# importing module
from sklearn.linear_model import LinearRegression
# creating an object of LinearRegression class
LR = LinearRegression()
# fitting the training data
LR.fit(x_train,y_train)

LinearRegression()

In [20]:
y_prediction =  LR.predict(x_test)
y_prediction

array([60.94755232, 49.09737258, 50.86941355, ..., 40.98826374,
       48.88600118, 50.26425526])

In [21]:
# importing r2_score module
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
# predicting the accuracy score
score=r2_score(y_test,y_prediction)
print('r2 score is',score)
#print('mean_sqrd_error is==' ,mean_squared_error(y_test,y_prediction))
#print('root_mean_squared error of is==' ,np.sqrt(mean_squared_error(y_test,y_prediction)))

r2 score is 0.7784154287024319

In [22]:
# modelling

from sklearn.tree import DecisionTreeRegressor

model = DecisionTreeRegressor()
model.fit(x_train, y_train)

y_pred = model.predict(x_test)

# evaluating the model
from sklearn.metrics import mean_squared_error

mse = mean_squared_error(y_test, y_pred)
print("RMSE Score :", np.sqrt(mse))

# r2 score
from sklearn.metrics import r2_score

r2 = r2_score(y_test, y_pred)
print("R2 Score :", r2)

RMSE Score : 0.0
R2 Score : 1.0

In [23]:

# modelling

from sklearn.linear_model import LinearRegression

lmodel = LinearRegression()
lmodel.fit(x_train, y_train)

y_pred =lmodel.predict(x_test)

# evaluating the model
from sklearn.metrics import mean_squared_error

mse = mean_squared_error(y_test, y_pred)
print("RMSE Score :", np.sqrt(mse))

# r2 score
from sklearn.metrics import r2_score

r2 = r2_score(y_test, y_pred)
print("R2 Score :", r2)

RMSE Score : 5.938681626011506
R2 Score : 0.7784154287024319

In [31]:

from sklearn.model_selection import train_test_split
from sklearn.ensemble import AdaBoostClassifier
from sklearn.metrics import r2_score, mean_absolute_error

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)
adamodel = AdaBoostClassifier(n_estimators=100, learning_rate=1)

adamodel.fit(x_train, y_train)
y_pred = adamodel.predict(x_test)


print(mean_absolute_error(y_test, y_pred))
print(r2_score(y_test, y_pred))

6.795993255975404
0.5171966973613211

In [33]:


import pickle
with open('click.pkl','wb') as files:
  pickle.dump(adamodel,files)